<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pokedex" href="/tabs/pokedex">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Pokédex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equipos" href="/tabs/equipos">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Equipos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritos" href="/tabs/favoritos">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-pokemon" href="/tabs/mis-pokemon">
      <ion-icon aria-hidden="true" name="sparkles-outline"></ion-icon>
      <ion-label>Mis Pokémon</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
